In [ ]:
tThe 'JOIN' which allows you to use data from two or more tables. 

#The general format 

SELECT *
  FROM table1 JOIN table2 ON (id of table1=id of table2)
    
    
    
The FROM clause says to merge data from table 1 with that from table 2. The ON says how to figure out which rows in table1 go with which rows in table2 - the id from table1 must match id from table2. (If we wanted to be more clear/specific we could say
ON (table1.id=table2.id)

In [ ]:

#The code below shows the player (from the goal) and stadium name (from the game table) for every goal scored.

SELECT player,stadium
  FROM game JOIN goal ON (id=matchid)

In [ ]:
#1. Show matchid and player name for all goals scored by Germany.
#-- (teamid = 'GER')


SELECT matchid, player
FROM goal
WHERE teamid = 'GER

In [ ]:
#--  Show the player, teamid and mdate and for every German goal.
#-- (teamid='GER')

SELECT player, teamid, mdate
FROM game
JOIN goal ON (game.id = goal.matchid)
WHERE teamid = 'GER'

In [ ]:
# 4. Show the team1, team2 and player for every goal scored by a player called.

Mario (player LIKE 'Mario%')
SELECT team1, team2, player
FROM goal
JOIN game ON (game.id = goal.matchid)
WHERE player LIKE 'Mario%'

In [ ]:
# Show (player), (teamid), (coach), (gtime) for all goals scored in the. First 10 minutes (gtime<=10).

SELECT player, teamid, coach, gtime
FROM goal
JOIN eteam ON (goal.teamid = eteam.id)
WHERE gtime <= 10

In [ ]:
#6. List the the dates of the matches and the name of the team in which
# 'Fernando Santos' was the team1 coach.

SELECT mdate, teamname
FROM game
JOIN eteam ON (game.team1 = eteam.id)
WHERE coach = 'Fernando Santos'

In [ ]:
# 7. List the player for every goal scored in a game where the staium was
# 'National Stadium, Warsaw'

SELECT player
FROM goal
JOIN game ON (goal.matchid = game.id)
WHERE stadium = 'National Stadium, Warsaw'

In [ ]:
# 8. Show names of all players who scored a goal against Germany.

SELECT DISTINCT player
FROM game
JOIN goal ON goal.matchid = game.id
WHERE (team1 = 'GER' OR team2 = 'GER')
AND teamid <> 'GER'

In [ ]:
#9. Show teamname and the total number of goals scored.

SELECT teamname, COUNT(player) goals_scored
FROM eteam JOIN goal ON eteam.id = goal.teamid
GROUP BY teamname

In [ ]:
#10. Show the stadium and the number of goals scored in each stadium.

SELECT stadium, COUNT(player) goals_scored
FROM game
JOIN goal ON game.id = goal.matchid
GROUP BY stadium

In [ ]:
#11. For every match involving 'POL', show the matchid, date and the number of goals scored.
SELECT matchid, mdate, COUNT(player) goals_scored
FROM game
JOIN goal ON goal.matchid = game.id
WHERE (team1 = 'POL' OR team2 = 'POL')
GROUP BY goal.matchid

In [ ]:
 #12. For every match where 'GER' scored, show matchid, match date and the number of goals scored by 'GER'.
    
SELECT matchid, mdate, COUNT(player)
FROM game
JOIN goal ON game.id = goal.matchid
WHERE teamid = 'GER'
GROUP BY game.id

In [ ]:
#13. List every match with the goals scored by each team as shown. Sort your result by mdate, matchid, team1 and team2.

SELECT mdate,
  team1,
  SUM(CASE WHEN teamid=team1 THEN 1 ELSE 0 END) score1,
  team2,
  SUM(CASE WHEN teamid=team2 THEN 1 ELSE 0 END) score2
FROM game JOIN goal ON goal.matchid = game.id
GROUP BY game.id
ORDER BY mdate, matchid, team1, team2

In [ ]:
#Obtain the cast list for 'Casablanca'.

#what is a cast list?
#The cast list is the names of the actors who were in the movie. Use movieid=11768, (or whatever value you got from the previous question)

SELECT name FROM actor JOIN casting ON (casting.actorid=actor.id) WHERE movieid=11768

In [ ]:
#Obtain the cast list for the film 'Alien'

SELECT actor.name
FROM actor
JOIN casting ON actor.id = casting.actorid
JOIN movie ON movie.id = casting.movieid
WHERE title = 'Alien'

In [ ]:
#List the films in which 'Harrison Ford' has appeared

SELECT movie.title
FROM movie
JOIN casting ON movie.id = casting.movieid
JOIN actor ON actor.id = casting.actorid
WHERE name = 'Harrison Ford'

In [ ]:
#List the films where 'Harrison Ford' has appeared - but not in the starring role. [Note: the ord field of casting gives the position of the actor. If ord=1 then this actor is in the starring role]

SELECT movie.title
FROM movie
JOIN casting ON movie.id = casting.movieid
JOIN actor ON actor.id = casting.actorid
WHERE name = 'Harrison Ford'
AND casting.ord!= 1

In [ ]:
#List the films together with the leading star for all 1962 films.

SELECT title, name leading_star
FROM movie
JOIN casting ON movie.id = casting.movieid
JOIN actor ON actor.id = casting.actorid
WHERE movie.yr = 1962
AND casting.ord = 1

In [ ]:
#Which were the busiest years for 'Rock Hudson', show the year and the number of movies he made each year for any year in which he made more than 2 movies.

SELECT yr, COUNT(title) num_movies
FROM movie
JOIN casting ON movie.id = casting.movieid
JOIN actor ON casting.actorid = actor.id
WHERE name = 'John Travolta'
GROUP BY yr
HAVING COUNT(title) =
(
  SELECT MAX(c)
	FROM
  (
    SELECT yr, COUNT(title) AS c
    FROM movie
    JOIN casting ON movie.id = casting.movieid
    JOIN actor ON casting.actorid = actor.id
    WHERE name = 'Rock Hudson'
    GROUP BY yr
  ) AS t
)

In [ ]:
#List the film title and the leading actor for all of the films 'Julie Andrews' played in.

#Did you get "Little Miss Marker twice"?
#Julie Andrews starred in the 1980 remake of Little Miss Marker and not the original(1934). Title is not a unique field, create a table of IDs in your subquery.

SELECT DISTINCT b.title, a.name leading_star
FROM
(
  SELECT movie.title, actor.name, casting.movieid
  FROM movie
  JOIN casting ON movie.id = casting.movieid
  JOIN actor ON casting.actorid = actor.id
  WHERE casting.ord = 1
) AS a
JOIN
(
  SELECT movie.title, casting.movieid
  FROM movie
  JOIN casting ON movie.id = casting.movieid
  JOIN actor ON casting.actorid = actor.id
  WHERE actor.name = 'Julie Andrews'
) AS b
ON a.movieid = b.movieid

In [ ]:
#Obtain a list, in alphabetical order, of actors who've had at least 15 starring roles.

SELECT a.name
FROM
(
  SELECT actor.name, COUNT(casting.movieid) star_count
  FROM actor
  JOIN casting ON actor.id = casting.actorid
  WHERE casting.ord = 1
  GROUP BY actor.name
) AS a
WHERE star_count >=15
ORDER BY a.name

In [ ]:
#List the films released in the year 1978 ordered by the number of actors in the cast, then by title.

SELECT movie.title, COUNT(*) cast_size
FROM movie
JOIN casting ON movie.id = casting.movieid
WHERE movie.yr = 1978
GROUP BY movie.title
ORDER BY title DESC