In [ ]:
Sometimes NULL values are given in tables, this might be because the data is unknown or is inappropriate. 
We can use the phrase IS NULL to pick out fields. We can use IS NOT NULL similarly.

In [ ]:
#List the teachers who have NULL for their department.

select name FROM teacher WHERE dept IS NULL

In [ ]:
INNER JOIN: 
    
    returns rows when there is a match in both tables.

In [ ]:
LEFT JOIN:
    
    returns all rows from the left table, even if there are no matches in the right table.

In [ ]:
RIGHT JOIN: 
    
    returns all rows from the right table, even if there are no matches in the left table.

In [ ]:
FULL JOIN: 

    combines the results of both left and right outer joins.

In [ ]:
EXAMPLE:
    CONSIDER THE FOLLOWING TWO TABLES;
    
    
    #Table 1:
    
    id  firstName                  lastName
.......................................
1   arun                        prasanth                 
2   ann                         antony                   
3   sruthy                      abc                      
6   new                         abc 


    #Table 2:

id2 age Place
................
1   24  kerala
2   24  usa
3   25  ekm
5   24  chennai

In [ ]:
#INNER JOIN EXAMPLE

SELECT TableA.firstName,TableA.lastName,TableB.age,TableB.Place
  FROM TableA
 INNER JOIN TableB
    ON TableA.id = TableB.id2;
    

#RESULTS
    
    firstName       lastName       age  Place
..............................................
arun            prasanth        24  kerala
ann             antony          24  usa
sruthy          abc             25  ekm

In [ ]:
#LEFT JOIN EXAMPLE: gives all selected rows in TableA, plus any common selected rows in TableB.


SELECT TableA.firstName,TableA.lastName,TableB.age,TableB.Place
FROM TableA
LEFT JOIN TableB 
ON TableA.id = TableB.id2;


firstName                   lastName                    age   Place
...............................................................................
arun                        prasanth                    24    kerala
ann                         antony                      24    usa
sruthy                      abc                         25    ekm
new                         abc                         NULL  NULL